<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<br />

<p>
  <strong>Who Am I?</strong>
</p>

<p>
  <a target="_blank" href="https://github.com/Linda091">Linda</a> (noun): an extroverted, data-driven web developer, with an unhealthy obsession w/ avocado boba, haribo peaches, and anime. 
</p>

<br />

<p>
  <b>What Is Splurty?</b>
</p>

<p>
  We all need a daily dose of positivity in our lives. 
  <br />
</p>

<p>
  Splurty was built by me to remind you that you are awesome and to never let anyone tell you otherwise.
</p>

<br />

<p>
  <b>Now, add your favorite quote and go be the badass that you are!</b>
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%=image_tag 'Linda.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Linda Ogbevoen</h2>
  <br />
  <p>
    Linda Ogbevoen is a part-time marketer and web developer. In a past life, she worked as a marketer for a tech startup.
  </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

</div>

