<div class="col-10 offset-1 about">
  <h1>About Black Women Speaks</h1>

<br />

<p>
  Black Women Speaks was designed to share the poignant words spoken by inspiring black women. It's an easy way to promote black girl magic and women empowerment.
</p>

<br />

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Linda Ogbevoen</h2>
  <br />

  <p class="text-center">
  <strong>Who Am I?</strong>
  </p>

  <p>
  <a target="_blank" href="https://github.com/Linda091">Linda (noun):</a> an extroverted, data-driven web developer, with an unhealthy obsession w/ avocado boba, haribo peaches, and anime.
  </p>

  <p>
    Linda is a web developer and former marketer. When she isn't coding, you can find her exploring Brooklyn, perfecting her deadlifts at the gym, or at a bottomless brunch near you. 
  </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

</div>

