<div class="col-10 offset-1 about">
  <h1 class="about_bws"> What is Black Women Speak?</h1>

<br/>

<h3>
  Black Women Speak was designed to share encouraging words spoken by inspiring black women - from activists, creatives, your momma(!), and more.  
</h3>

<br/>
<h3> It's a collaborative way to promote black girl magic and women empowerment. </h3>

<br class="clear" />

</div>
<br/>
<br/>

