<div class="col-10 offset-1 about">
  <h1 class="about"> What is Echo?</h1>

  <br/>

  <p class= "about-text">
  <b>Echo</b>  /ˈekō/ (verb): to repeat or imitate the words, sentiments, etc. of a person
  
  <br/><br/>
  Echo is a collection of words spoken by influencers of color. 
  </p>

  <br class="clear" />

</div>
<br/>


