<div id= "quotes">
  <h2>
    <span>ECHO / No. <%= @quote.id %></span>
    
  </h2>

  <br/><br/><br/>
  <p class= "quote-saying"><%= @quote.saying %></p>
  <br/>
  <h2 class="float-right">- <%= @quote.author %></h2>

  <br class="clear" />
  <br />
  <br />
</div>
  <br />
  <br />
  <br />
  <br />