<div id= "quotes">
  <h2>
    <span>BLACK WOMEN SPEAK / No. <%= @quote.id %> || Powerful Words from Black Women</span>
    
  </h2>

  <br/><br/><br/>
  <h1><%= @quote.saying %></h1>
  <h2 class="float-right">- <%= @quote.author %></h2>

  <br class="clear" />
  <br />
  <br />
</div>
<br />
  <br />
  <br />