@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
}

.clear {
  clear:both;
}

.icon {
  max-height: 200px;
  max-width: 120px;
  width: 120px;
  height: 150px;
  padding-top: 5%;
}

.slogan {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  padding-top: 26px;
}

.links {
  padding-top:26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear: both;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}

.next-quote {
  color: #f84342;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.footer-blurb{
 font-family: 'Source Sans Pro', sans-serif;
 font-style: italic; 
 text-align: right;
}

.logo:hover {
  text-decoration: none;
}

.col-10 {
  text-align: center;
}

.about {
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.modal {
 font-family: 'Source Sans Pro', sans-serif;
}

h2 span {
  color: #dddddd;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5%;
}

::selection {
  background-color: #f84342;
}

.headline {
  text-align: center;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  padding-top: 5%;

}
