@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*Main Page */

body {
  margin: 0px;
  padding-left: 5%;
  padding-right: 5%;
  background: image_url('background.jpg')no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clear {
  clear:both;
}


.logo:hover {
  top: 0;
  left: 0;
}

.footer-blurb{
 font-family: 'Source Sans Pro', sans-serif;
 text-align: right;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.col-10 {
  text-align: center;
  float: right;
  font-weight: 500px;
  font-size: 40px;
}

.headline {
  text-align: center;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  padding-top: 5%;
  padding-left: 8%;

}

h2 span {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 5%;
}


.links {
  padding-top:26px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

/*About Page*/

.about {
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}

/*Quote Modal*/


hr {
  clear: both;
}

.modal {
 font-family: 'Source Sans Pro', sans-serif;
}

