@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Arimo|Inconsolata|Karla|Oxygen');

/*Main Page */


body {
  margin: 0px;
  background: image_url('background2.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

.clear {
  clear:both;
}

#quotes {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 20px;
  line-height: 25px;
  background: rgba(249,249,249, 0.3);
  border-radius: 25px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.quote-saying {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  line-height: 1.6;
}

h2 span {
  font-weight: 700;
}

.float-right {
  font-size: 20px;
  font-weight: 100;
}

.nav-item a {
  color: black;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-decoration-line: none;
}
/*About Page*/

.about {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-top: 2.5%;
}


.about-text {
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}

/*Quote Modal*/


hr {
  clear: both;
}

.modal {
 font-family: 'Montserrat', sans-serif;
}
